body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilos para el carrusel */

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
}

.carousel-caption h5 {
    font-size: 1.5em;
    color: #fff;
}

.carousel-caption p {
    font-size: 1em;
    color: #fff;
}

/* Estilos para los botones de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}



/* Estilos para los indicadores del carrusel */
.carousel-indicators {
    margin-bottom: 10px;
}

.carousel-indicators button {
    background-color: #ccc;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    padding: 0;
}

.carousel-indicators .active {
    background-color: #000;
}


/* Estilos para buscador */
#inputBuscarConcepto {
    border-radius: 0; 
    font-size: 1.2em; 
}
#btnBuscarConcepto {
    background-color: #28a745; 
    border: none; 
}


